@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@theme {
  --color-primary: #f97415;
  --color-background-light: #f8f7f5;
  --color-background-dark: #23170f;
  --color-navy: #0F172A;
  --color-emerald: #10B981;
  --font-display: "Inter", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}
